[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"

[packages]
untangle = "*"
wget = "*"
tqdm = "*"
sentencepiece = "*"
tensorflow = "*"
absl-py = "*"
pandas = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
